

.notfoundLogo {
  position: absolute;
  left: 36px;
  font-weight: 900;
  font-size: 29px;
}

.notfoundContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.notfoundTitle {
  font-size: 16px;
  text-align: center;
  line-height: 1.6; 
}
.notfoundTitle span {
  font-size: 64px;
  font-weight: 700px;
}


.diagnosis {
  text-align: center;
  line-height: 1.6; 
}
.diagnosis span {
  color: #2783de;
  cursor: pointer;
}

.notfoundLine {
  width: 665px;
  height: 36px;
}

.notfoundLogbox {
  background-color: #202020;
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  height: 289px;
  max-height: 580px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfoundLogs {
  color: #7a7a7a;
  line-height: 0.8;
  white-space: nowrap;
}
